# Normalizar saltos de línea para evitar problemas entre Windows, Mac y Linux
* text=auto eol=lf
*.dax linguist-language=DAX
*.m linguist-language=PowerQuery
# Indicar a Linguist que trate las imágenes como archivos de recursos (evita sesgos)
*.jpg linguist-vendored=true
*.png linguist-vendored=true
*.svg linguist-vendored=true
